html,
body {
  height: 100%;
}

body {
  /* display: flex;
  align-items: center;  */
  background-color: #f5f5f5;
  /* justify-content: center; */
} 

.main{
  background-color: pink;
  width: 100%;
  height: 100%;
  display: block;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.h3{
  text-align: center;
}

.logo{
  margin-left: 40%;
  margin-right: auto;
}

.page.login{
  margin-top: 10%;
  display: flex;
  align-items: center;
  height: auto;
  width: 100%;
  justify-content: center;
}

.page.register{
  margin-top: 10%;
  display: flex;
  align-items: center;
  height: auto;
  width: 100%;
  justify-content: center;
}

.page.job-found{
  align-items: center;
  height: auto;
  width: 100%;
  justify-content: center;
}
.page.job-found button{
  height: 30px;
  margin-bottom: 2px;
  margin-top: 5px;
}

.card.shadow-sm{
  width: 100%;
}

.fw-light{
  font-size: 1ch;
  margin-bottom: 0%;
}
.fst-italic{
  margin-bottom: 0%;
}
.descreption{
  margin-bottom: 1%;
}

.list-group-item{
  font-size: 1ch;
}
i.bi{
  cursor:pointer;
  margin-left: 10px;
}
.fst-italic{
  cursor:pointer;
  color: blue;
  text-decoration: underline;
  
}